web/WEB-INF/wsdl/localhost_8080/PrimeraGateway/PrimeraInterface.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.primera/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service.primera/" name="PrimeraInterface">
<types>
<xsd:schema>
<xsd:import namespace="http://service.primera/" schemaLocation="http://localhost:8080/PrimeraGateway/PrimeraInterface?xsd=1"/>
</xsd:schema>
</types>
<message name="LoanAccount">
<part name="parameters" element="tns:LoanAccount"/>
</message>
<message name="LoanAccountResponse">
<part name="parameters" element="tns:LoanAccountResponse"/>
</message>
<message name="Exception">
<part name="fault" element="tns:Exception"/>
</message>
<message name="FundsTransfer">
<part name="parameters" element="tns:FundsTransfer"/>
</message>
<message name="FundsTransferResponse">
<part name="parameters" element="tns:FundsTransferResponse"/>
</message>
<message name="ParseException">
<part name="fault" element="tns:ParseException"/>
</message>
<message name="D2RSCustomer">
<part name="parameters" element="tns:D2RSCustomer"/>
</message>
<message name="D2RSCustomerResponse">
<part name="parameters" element="tns:D2RSCustomerResponse"/>
</message>
<message name="FormalLoan">
<part name="parameters" element="tns:FormalLoan"/>
</message>
<message name="FormalLoanResponse">
<part name="parameters" element="tns:FormalLoanResponse"/>
</message>
<message name="PayrollLoan">
<part name="parameters" element="tns:PayrollLoan"/>
</message>
<message name="PayrollLoanResponse">
<part name="parameters" element="tns:PayrollLoanResponse"/>
</message>
<message name="ChequeManagement">
<part name="parameters" element="tns:ChequeManagement"/>
</message>
<message name="ChequeManagementResponse">
<part name="parameters" element="tns:ChequeManagementResponse"/>
</message>
<message name="PublicStateLoan">
<part name="parameters" element="tns:PublicStateLoan"/>
</message>
<message name="PublicStateLoanResponse">
<part name="parameters" element="tns:PublicStateLoanResponse"/>
</message>
<message name="NonIndividualCustomer">
<part name="parameters" element="tns:NonIndividualCustomer"/>
</message>
<message name="NonIndividualCustomerResponse">
<part name="parameters" element="tns:NonIndividualCustomerResponse"/>
</message>
<message name="MicroCreditCustomer">
<part name="parameters" element="tns:MicroCreditCustomer"/>
</message>
<message name="MicroCreditCustomerResponse">
<part name="parameters" element="tns:MicroCreditCustomerResponse"/>
</message>
<message name="PublicFederalLoan">
<part name="parameters" element="tns:PublicFederalLoan"/>
</message>
<message name="PublicFederalLoanResponse">
<part name="parameters" element="tns:PublicFederalLoanResponse"/>
</message>
<message name="IndividualCustomer">
<part name="parameters" element="tns:IndividualCustomer"/>
</message>
<message name="IndividualCustomerResponse">
<part name="parameters" element="tns:IndividualCustomerResponse"/>
</message>
<portType name="PrimeraInterface">
<operation name="LoanAccount">
<input wsam:Action="http://service.primera/PrimeraInterface/LoanAccountRequest" message="tns:LoanAccount"/>
<output wsam:Action="http://service.primera/PrimeraInterface/LoanAccountResponse" message="tns:LoanAccountResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://service.primera/PrimeraInterface/LoanAccount/Fault/Exception"/>
</operation>
<operation name="FundsTransfer">
<input wsam:Action="http://service.primera/PrimeraInterface/FundsTransferRequest" message="tns:FundsTransfer"/>
<output wsam:Action="http://service.primera/PrimeraInterface/FundsTransferResponse" message="tns:FundsTransferResponse"/>
<fault message="tns:ParseException" name="ParseException" wsam:Action="http://service.primera/PrimeraInterface/FundsTransfer/Fault/ParseException"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://service.primera/PrimeraInterface/FundsTransfer/Fault/Exception"/>
</operation>
<operation name="D2RSCustomer">
<input wsam:Action="http://service.primera/PrimeraInterface/D2RSCustomerRequest" message="tns:D2RSCustomer"/>
<output wsam:Action="http://service.primera/PrimeraInterface/D2RSCustomerResponse" message="tns:D2RSCustomerResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://service.primera/PrimeraInterface/D2RSCustomer/Fault/Exception"/>
</operation>
<operation name="FormalLoan">
<input wsam:Action="http://service.primera/PrimeraInterface/FormalLoanRequest" message="tns:FormalLoan"/>
<output wsam:Action="http://service.primera/PrimeraInterface/FormalLoanResponse" message="tns:FormalLoanResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://service.primera/PrimeraInterface/FormalLoan/Fault/Exception"/>
</operation>
<operation name="PayrollLoan">
<input wsam:Action="http://service.primera/PrimeraInterface/PayrollLoanRequest" message="tns:PayrollLoan"/>
<output wsam:Action="http://service.primera/PrimeraInterface/PayrollLoanResponse" message="tns:PayrollLoanResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://service.primera/PrimeraInterface/PayrollLoan/Fault/Exception"/>
</operation>
<operation name="ChequeManagement">
<input wsam:Action="http://service.primera/PrimeraInterface/ChequeManagementRequest" message="tns:ChequeManagement"/>
<output wsam:Action="http://service.primera/PrimeraInterface/ChequeManagementResponse" message="tns:ChequeManagementResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://service.primera/PrimeraInterface/ChequeManagement/Fault/Exception"/>
</operation>
<operation name="PublicStateLoan">
<input wsam:Action="http://service.primera/PrimeraInterface/PublicStateLoanRequest" message="tns:PublicStateLoan"/>
<output wsam:Action="http://service.primera/PrimeraInterface/PublicStateLoanResponse" message="tns:PublicStateLoanResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://service.primera/PrimeraInterface/PublicStateLoan/Fault/Exception"/>
</operation>
<operation name="NonIndividualCustomer">
<input wsam:Action="http://service.primera/PrimeraInterface/NonIndividualCustomerRequest" message="tns:NonIndividualCustomer"/>
<output wsam:Action="http://service.primera/PrimeraInterface/NonIndividualCustomerResponse" message="tns:NonIndividualCustomerResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://service.primera/PrimeraInterface/NonIndividualCustomer/Fault/Exception"/>
</operation>
<operation name="MicroCreditCustomer">
<input wsam:Action="http://service.primera/PrimeraInterface/MicroCreditCustomerRequest" message="tns:MicroCreditCustomer"/>
<output wsam:Action="http://service.primera/PrimeraInterface/MicroCreditCustomerResponse" message="tns:MicroCreditCustomerResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://service.primera/PrimeraInterface/MicroCreditCustomer/Fault/Exception"/>
</operation>
<operation name="PublicFederalLoan">
<input wsam:Action="http://service.primera/PrimeraInterface/PublicFederalLoanRequest" message="tns:PublicFederalLoan"/>
<output wsam:Action="http://service.primera/PrimeraInterface/PublicFederalLoanResponse" message="tns:PublicFederalLoanResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://service.primera/PrimeraInterface/PublicFederalLoan/Fault/Exception"/>
</operation>
<operation name="IndividualCustomer">
<input wsam:Action="http://service.primera/PrimeraInterface/IndividualCustomerRequest" message="tns:IndividualCustomer"/>
<output wsam:Action="http://service.primera/PrimeraInterface/IndividualCustomerResponse" message="tns:IndividualCustomerResponse"/>
<fault message="tns:ParseException" name="ParseException" wsam:Action="http://service.primera/PrimeraInterface/IndividualCustomer/Fault/ParseException"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://service.primera/PrimeraInterface/IndividualCustomer/Fault/Exception"/>
</operation>
</portType>
<binding name="PrimeraInterfacePortBinding" type="tns:PrimeraInterface">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="LoanAccount">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="FundsTransfer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ParseException">
<soap:fault name="ParseException" use="literal"/>
</fault>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="D2RSCustomer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="FormalLoan">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="PayrollLoan">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="ChequeManagement">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="PublicStateLoan">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="NonIndividualCustomer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="MicroCreditCustomer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="PublicFederalLoan">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="IndividualCustomer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ParseException">
<soap:fault name="ParseException" use="literal"/>
</fault>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
</binding>
<service name="PrimeraInterface">
<port name="PrimeraInterfacePort" binding="tns:PrimeraInterfacePortBinding">
<soap:address location="http://localhost:8080/PrimeraGateway/PrimeraInterface"/>
</port>
</service>
</definitions>